* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2vw; /* space between carousels */
    font-family: sans-serif;
}

.carousel {
    width: 20vw;       /* relative to screen width */
    height: 100vh;      /* relative to viewport height */
    border: 3px solid red;
    overflow: hidden;  /* hide duplicates outside view */
    display: flex;
    flex-direction: column;
    position: relative;
}

.group {
    display: flex;
    flex-direction: column;
    animation: spin 8s linear infinite;
}

.card {
    flex: 0 0 auto;       /* prevent shrinking */
    width: 100%;           /* relative to carousel */
    aspect-ratio: 1 / 1;
    background: cornflowerblue;
    font-size: 2rem;
    border-radius: 0.2em;
    text-align: center;
    line-height: 2;
    margin-bottom: 0.5em
}

.slow {
    animation-duration: 12s;
}

/* vertical scroll animation */
@keyframes spin {
    from {transform: translateY(0); }
    to {transform: translateY(-50%); } 
}

/* responsive tweak for small screens */
@media (max-width: 400px) {
    .carousel {
        width: 40vw;
        height: 100vh;
    }

    .card {
        font-size: 1.5rem;
    }
}