<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="carousel">
        <div class="group">
            <div class="card">1</div>
            <div class="card">2</div>
            <div class="card">3</div>
            <div class="card">4</div>
            <div class="card">5</div>
            <div class="card">6</div>

            <!-- duplicate for seamless scroll -->
            <div class="card">1</div>
            <div class="card">2</div>
            <div class="card">3</div>
            <div class="card">4</div>
            <div class="card">5</div>
            <div class="card">6</div>
        </div>
    </div>

    <div class="carousel">
        <div class="group slow">
            <div class="card">A</div>
            <div class="card">B</div>
            <div class="card">C</div>
            <div class="card">D</div>
            <div class="card">E</div>
            <div class="card">F</div>

            <!-- duplicate for seamless scroll -->
            <div class="card">A</div>
            <div class="card">B</div>
            <div class="card">C</div>
            <div class="card">D</div>
            <div class="card">E</div>
            <div class="card">F</div>
        </div>
    </div>
</body>
</html>